---
// Propiedades de la card
interface Props {
  title: string;
  href: string;
  imgSrc: string;
}

const { href, title, imgSrc } = Astro.props;
---

<div class="flex-shrink-0 m-2 relative overflow-hidden bg-blue-800 rounded-lg max-w-xs shadow-lg"
>
  <svg
    class="absolute bottom-0 left-0 mb-8"
    viewBox="0 0 375 283"
    fill="none"
    style="transform: scale(1.5); opacity: 0.1;"
  >
    <rect
      x="159.52"
      y="175"
      width="152"
      height="152"
      rx="8"
      transform="rotate(-45 159.52 175)"
      fill="white"></rect>
    <rect
      y="107.48"
      width="152"
      height="152"
      rx="8"
      transform="rotate(-45 0 107.48)"
      fill="white"></rect>
  </svg>
  <div class="relative 0 flex items-center justify-center">
    <img class="relative w-96" src={imgSrc} alt="" />
  </div>
  <div class="relative text-white px-6 pb-6 mt-6">
    <span class="block opacity-75 -mb-1">{title}</span>
    <div class="flex justify-between">
      <span class="block font-semibold text-xl"></span>
      <a href="">
        <span
          class="bg-white rounded-full text-blue-800 text-base font-bold px-3 py-2 mt-2 leading-none flex items-center"
          >{href}</span
        >
      </a>
    </div>
  </div>
</div>
