---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="bg-[#05132b] w-full md:w-3/5 p-8 mx-auto rounded-lg shadow-lg">
  <h1 class="text-4xl md:text-6xl font-bold text-center mb-8 text-white">
    <span> {title} </span>
  </h1>

  <form
    action="https://formsubmit.co/yahir634gallo@gmail.com"
    method="POST"
    class="space-y-6"
  >
    <div class="datoscontact" id="contacto">
      <label class="block text-gray-300 font-medium mb-2" for="nombre"
        >Nombre de la empresa o cliente</label
      >
      <input
        class="contenedorinfo w-full p-3 border border-gray-600 rounded-md bg-[#0a1d3a] text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        id="nombre"
        name="nombre"
        type="text"
        placeholder="Ingresa el nombre"
        required
      />
    </div>

    <div class="datoscontact">
      <label class="block text-gray-300 font-medium mb-2" for="email"
        >Correo electrónico</label
      >
      <input
        class="contenedorinfo w-full p-3 border border-gray-600 rounded-md bg-[#0a1d3a] text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        id="email"
        name="email"
        type="email"
        placeholder="Ingresa tu correo"
        required
      />
    </div>

    <div class="datoscontact">
      <label class="block text-gray-300 font-medium mb-2" for="telefono"
        >Teléfono</label
      >
      <input
        class="contenedorinfo w-full p-3 border border-gray-600 rounded-md bg-[#0a1d3a] text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        id="telefono"
        name="telefono"
        type="tel"
        placeholder="Ingresa tu número"
        required
      />
    </div>

    <div class="datoscontact">
      <label class="block text-gray-300 font-medium mb-2" for="servicio"
        >Tipo de servicio</label
      >
      <select
        class="contenedorinfo w-full p-3 border border-gray-600 rounded-md bg-[#0a1d3a] text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        name="servicio"
        id="servicio"
        required
      >
        <option value="" disabled selected>Seleccione un servicio</option>
        <option value="desarrollo_web">Desarrollo WEB</option>
        <option value="diseno_web">Diseño WEB</option>
        <option value="mantenimiento">Mantenimiento</option>
        <option value="desarrollo_frontend">Desarrollo Frontend</option>
        <option value="desarrollo_backend">Desarrollo Backend</option>
        <option value="despliegues">Despliegues</option>
      </select>
    </div>

    <div class="datoscontact">
      <label class="block text-gray-300 font-medium mb-2" for="descripcion"
        >Descripción breve del proyecto</label
      >
      <textarea
        class="contenedorinfo w-full p-3 border border-gray-600 rounded-md bg-[#0a1d3a] text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        id="descripcion"
        name="descripcion"
        rows="4"
        placeholder="Describe brevemente tu proyecto"
        required></textarea>
    </div>

    <input
      type="hidden"
      name="_next"
      value="https://codecraft-lemon.vercel.app/"
    />
    <input type="hidden" name="_captcha" value="false" />

    <button
      class="w-full bg-blue-500 text-white font-semibold py-3 px-4 rounded-md shadow-lg hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      type="submit"
    >
      ENVIAR
    </button>
  </form>
</div>

<style>
  .description {
    display: block;
    margin: 10px;
    justify-content: left;
    text-align: left;
  }

  .contenedorformulario {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; /* Añade algo de espacio interno */
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.6); /* Sombra blanca */
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    height: auto; /* Ajuste dinámico de la altura */
  }
  .contenedorinfo {
    color: black;
    width: 100%;
    border-radius: 10px;
  }
</style>
