---
import Card from "./Card.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="bg-[#05132b] w-full">
  <div class="flex flex-col items-center mt-10 pt-10">
    <h1 class="text-6xl font-bold text-center mb-4 z-40">
      {title}
    </h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 mt-10 lg:grid-cols-4 gap-4">
    <!-- quedan pendiente el diseño de la imagen -->
    <Card title="Desarrollo Web" href="Cotiza" imgSrc="./1.png" />
    <Card title="Desarrollo Mobile" href="Cotiza" imgSrc="./2.png" />
    <Card title="Desarrollo Backend" href="Cotiza" imgSrc="./3.png" />
    <Card title="Desarrollo Frontend" href="Cotiza" imgSrc="./4.png" />
    <Card title="Ecommerce" href="Cotiza" imgSrc="./5.png" />
    <Card
      title="Hosting y Registro de Dominios"
      href="Cotiza"
      imgSrc="./6.png"
    />
    <Card
      title="Hosting y Registro de Dominios"
      href="Cotiza"
      imgSrc="./7.png"
    />
  </div>
</div>
